RewriteEngine On
RewriteBase /dist/alaskari-design/browser/
RewriteRule ^index.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /dist/alaskari-design/browser/index.html [L]
