RewriteEngine On

# Weiterleitung von HTTP zu HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Weiterleitung von nicht-www zu www
RewriteCond %{HTTP_HOST} ^alaskaridesign\.com [NC]
RewriteRule ^(.*)$ https://www.alaskaridesign.com/$1 [L,R=301]
